{% if flash.getMessage('info') %}
  {% for msg in flash.getMessage('info') %}
	<div class="alert alert-info">
	  {{ msg }}
	</div>
  {% endfor %}
{% endif %}
{% if flash.getMessage('error') %}
  {% for msg in flash.getMessage('error') %}
	<div class="alert alert-danger">
	  {{ msg }}
	</div>
  {% endfor %}
{% endif %}